{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class=page-header>
    <h1>{{ title }}</h1>
</div>

<form method=post action={% if feed %}"{% url edit_feed feed.id %} " {% else %}"{% url new_feed %}"{% endif %}>
    {{ form.as_p }}
    <h3>Elements</h3>
    <div class="element-container">
        <div class="well pull-left element" style="width:40%;margin-right: 5%">
            <div class="control-group">
                <div class="controls" style="float:left;width:45%;">
                    <label class="control-label">
                        Type
                    </label>
                    <select id="category" class="pull-left">
                        <option value="Web Comic">
                            Title
                        </option>
                        <option value="shirts">
                            Body
                        </option>
                        <option value="q">
                            Descrpition
                        </option>
                        <option value="value3">
                        </option>
                    </select>
                </div>
                <div class="controls" style="float:left;width:45%;margin-left:3%">
                    <label class="control-label">
                        Element
                    </label>
                    <select id="category" class="pull-left">
                        <option value="div">
                            Div
                        </option>
                        <option value="h1">
                            Header1
                        </option>
                        <option value="2">
                            Header2
                        </option>
                        <option value="img">
                            Image
                        </option>
                    </select>
                </div>
                <div class="control-group" style="width:45%;float:left">
                    <label class="control-label">
                        Attribute
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
                <div class="control-group" style="width:45%;float:left;margin-left:3%">
                    <label class="control-label">
                        Value
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
                <div class="control-group" style="width:45%;float:left">
                    <label class="control-label">
                        Attribute
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
                <div class="control-group" style="width:45%;float:left;margin-left:3%">
                    <label class="control-label">
                        Value
                    </label>
                    <div class="controls">
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
	<a class="btn" style="float:left;clear:both" id=add-butt>
        <i class=icon-plus></i> Add Element
    </a>
	<a class="btn btn-large btn-primary" style="float:right;clear:both">Save</a>
	<a class="btn" style="float:right; margin:10px;">Test</a>

</form>
{% endblock content %}

{% block script %}
<script>
$().ready(function(){
    $('#add-butt').click(function(){
        $('.element').clone().appendTo('.element-container');
    })
})
</script>
{% endblock script %}