{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class=page-header>
    <h1>{{ title }}</h1>
</div>
<div id="test-success" class="alert alert-success" style="display:none">
    Success! Your parameters have successfully grabbed content from the site. Click Save to create your feed
    <a href=# class=close onclick="$('#test-success').css('display','none');">&times;</a>
</div>
<div id='test-fail' class="alert alert-error" style="display:none">
    Uh Oh! Your parameters did not return any content. This may be because the site wont allow it or there is
    problems with the set up. Please double check and try again.
    <a href=# class=close  onclick="$('#test-fail').css('display','none');">&times;</a>
</div>
<form method=post id=feedform action={% if feed %}"{% url edit_feed feed.id %} " {% else %}"{% url new_feed %}"{% endif %}>
    {% csrf_token %}
    {{ form.as_p }}
</form>
    <h3>Elements</h3>
    <div class="element-container">
        <div class="well pull-left element" style="width:40%;margin-right: 5%">
            <div class="control-group">
                <div class="controls" style="float:left;width:45%;">
                    <label class="control-label">
                        Type
                    </label>
                    <select id="category" class="pull-left" name=type>
                        <option value="title">
                            Title
                        </option>
                        <option value="body">
                            Body
                        </option>
                        <option value="desc">
                            Descrpition
                        </option>
                    </select>
                </div>
                <div class="controls" style="float:left;width:45%;margin-left:3%">
                    <label class="control-label">
                        Element
                    </label>
                    <select id="element-type" class="pull-left" name=element>
                        <option value="div">
                            &lt;div>
                        </option>
                        <option value="h1">
                            &lt;h1>
                        </option>
                        <option value="h2">
                            &lt;h2>
                        </option>
                        <option value="img">
                            &lt;img>
                        </option>
                        <option value="p">
                            &lt;p>
                        </option>
                    </select>
                </div>
                <div class="control-group" style="width:45%;float:left">
                    <label class="control-label">
                        Attribute
                    </label>
                    <div class="controls">
                        <input type="text" id=attribute1 name=attribute1 class=attr>
                    </div>
                </div>
                <div class="control-group" style="width:45%;float:left;margin-left:3%">
                    <label class="control-label" >
                        Value
                    </label>
                    <div class="controls">
                        <input type="text" id=value1 name=value1 class=val>
                    </div>
                </div>
                <div class="control-group" style="width:45%;float:left">
                    <label class="control-label">
                        Attribute
                    </label>
                    <div class="controls">
                        <input type="text" id=attribute2 name=attribute2 class=attr>
                    </div>
                </div>
                <div class="control-group" style="width:45%;float:left;margin-left:3%">
                    <label class="control-label">
                        Value
                    </label>
                    <div class="controls">
                        <input type="text"  id=value2 name=value2 class=val>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<a class="btn" style="float:left;clear:both" id=add-butt>
        <i class=icon-plus></i> Add Element
    </a>
	<button class="btn btn-large btn-primary" style="float:right;clear:both" id=save-butt disabled=disabled>Save</button>
	<a class="btn" style="float:right; margin:10px;" id=test-butt>Test</a>
    <br style="clear:both">

{% endblock content %}

{% block script %}
<script>
$().ready(function(){
    $('#add-butt').click(function(){
        $('.element').first().clone().appendTo('.element-container');
    });
    $('#save-butt').click(function(){
        $('#feedform').submit()
    });
    $('#test-butt').click(function(){
        var output = [];
        $('.element').each(function(){
            var element = {};
            element['type'] = $(this).find('#category').val()
            element['element'] = $(this).find('#element-type').val()
            var selector = "{";
            if ($(this).find('#attribute1').val() && $(this).find('#value1').val()){
                selector += "'" + String($(this).find('#attribute1').val()) + "':'" + String($(this).find('#value1').val()) +"'";
            }
            if ($(this).find('#attribute2').val() && $(this).find('#value2').val()){
                selector += ",'" + String($(this).find('#attribute2').val()) + "':" + String($(this).find('#value2').val())+"'";
            }
            selector += "}";
            element['selector'] = selector;
            console.log(element);
            output.push(element);
        })
        var element_list = JSON.stringify(output,null,2);
        var name = $('#id_name').val();
        var category = $('#id_category').val();
        var url = $('#id_url').val();
        $.ajax({
            type:'POST',
            url: "{% url test_feed %}",
            data:{
                'name':name,
                'category':category,
                'url':url,
                'elements':element_list
            },
            success:function(data){
                console.log(data)
                if (data=="Test-Success"){
                    $('#test-success').css('display','block')
                }
                if (data=="Test-Fail"){
                    $('#test-fail').css('display','block')
                }

            }
        })
    });
    $('#feedform').submit(function(){
        console.log('Entered Form Submit');
        var output = [];
        $('.element').each(function(){
            var element = {};
            element['type'] = $(this).find('#category').val()
            element['element'] = $(this).find('#element-type').val()
            var selector = "{";
            if ($(this).find('#attribute1').val() && $(this).find('#value1').val()){
                selector += "'" + String($(this).find('#attribute1').val()) + "':'" + String($(this).find('#value1').val()) +"'";
            }
            if ($(this).find('#attribute2').val() && $(this).find('#value2').val()){
                selector += ",'" + String($(this).find('#attribute2').val()) + "':" + String($(this).find('#value2').val())+"'";
            }
            selector += "}";
            element['selector'] = selector;
            console.log(element);
            output.push(element);
        })
        var element_list = JSON.stringify(output,null,2);
        $('<input />').attr('type','hidden')
                .attr('name','elements')
                .attr('value',element_list)
                .appendTo('#feedform');
        alert(element_list);
        return true;
    });

})

</script>
{% endblock script %}