{% extends 'base.html' %}

{% block content %}
    <div class="hero-unit">
        <h1>
            Welcome to Web Aggregator!<br>
            <small>The Cross-Site Element Aggregator</small>
        </h1>
    </div>
    <div class=row>
        <div class=span4>
            <img src="{{ STATIC_URL }}img/collector.png" style=width:100%>
        </div>
        <div class=span8>
            <p>
                Web Aggregator is a one stop visit for all your web browsing needs. It collects elements from
                web pages across the internet and puts them on one easy to view page. It was created as a time
                saver, so I can view all my webcomics and other pages I visit everyday at lunch at one time.

            </p>
        </div>
    </div>
    <div class=row>
        {% if not user.is_authenticated %}
            <div class=span4>
                <div class=well>
                    <h4>Recently Added Feeds</h4>
                <br>
                    <table class="table table-bordered">
                        {% for feed in recent_feeds %}
                         <tr onclick="window.location.href='{% url view_feed feed.id %}'" style="cursor: pointer;">
                             <td>{{ feed.name }}</td>
                         </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class=span4>
                <div class=well>
                    <h4>View Sample Page</h4>
                    <p>
                        View a sample feed page to see what it looks like when you sign
                        up for a free account!
                    </p>
                    <a href="{% url sample_user_feeds %}" class='btn pull-right'>Sample Page</a>
                    &nbsp;
                </div>
            </div>
            <div class=span4>
                <div class=well>
                    <h4>Sign up!</h4>
                    <p>
                        Sign up now for a free account!
                    </p>
                    <a href="/accounts/register/" class="btn pull-right">Sign up!</a>
                    &nbsp;
                </div>
            </div>
        {% else %}
            <div class=span4>
                <div class=well>
                    <h4>View Your Feeds</h4>
                </div>
            </div>
            <div class=span4>
                <div class=well>
                    <h4>Add New Feed</h4>
                </div>
            </div>
            <div class=span4>
                <div class=well>
                    <h4>Manage Subscriptions</h4>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock content %}