{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class=page-header>
    <h1>{{ title }}</h1>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th><h6>Name</h6></th>
            <th><h6>Category</h6></th>
            <th><h6>URL</h6></th>
            {% if user.is_authenticated %}
            <th><h6>Subscribe</h6></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for feed in feeds %}
            <tr onclick="window.location.href='{% url view_feed feed.id %}'" style="cursor: pointer;">
                <td>{{ feed.name }}</td>
                <td>{{ feed.category.name }}</td>
                <td>{{ feed.url }}</td>
                {% if user.is_authenticated %}
                    <td>
                        <input type=checkbox
                                {% if feed in subscriptions %}
                                    checked="checked"
                                {% endif %}
                                onclick="selected($(this),{{feed.id}})">
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    <!--{{  user.subscriptions.feeds.all }}-->
    </tbody>
</table>

{% endblock content %}

{% block script %}
<script>
    function selected(element, feed_id){
        if (element.is(":checked")){
            $.get({url:"/feeds/subscribe/"+feed_id})
        } else {
            $.get({url:"/feeds/unsubscribe/"+feed_id})
        }
    }
</script>

{% endblock script %}