{% extends 'base.html' %}
{% block title %} {{ title }} {% endblock title %}

{% block css %}
<style>
    .newspaper {
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
    }
    .tile {
        display: inline-block; /* Display inline-block, and absolutely NO FLOATS! */
        margin-bottom: 20px;
        width: 100%;
    }
</style>
{% endblock css %}

{% block content %}
<div class="newspaper">
    {% for feed in feeds %}
    <div class="tile well">
        <a href="{{ feed.url }}">
            <h4>{{ feed.name }}</h4>
        </a>
        {% for element in feed.elements.all %}
            {{ element.render|safe }}
        {% endfor %}
    </div>
    {% endfor %}
</div>


{% endblock content %}

{% block script %}

{% endblock script %}